body {
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    display: block;
    text-decoration: none;
    color: #818181;
    font-size: 28px;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    font-size: 28px;
    padding: 0px 10px;
}